<p>A tournament bracket maker with Spotify integration that enables you to create brackets based on albums.</p>

<div class="search-container">
	<form class="example" action="/search">
  		<input type="text" placeholder="Search album..." name="album">
  		<button type="submit"><i class="fa fa-search"></i></button>
	</form>
</div>