body {
	padding: 50px;
	font: 17px 'Lato', Helvetica, Arial, sans-serif;
	background-color: #1e252c;
	color: #def;
	font-weight: 300;
  }

a {
	text-decoration: none;
	cursor: pointer;
	color: white;
}

h1 {
	text-align: center;
}

#copyright {
  position: fixed;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  left: 50%;
  bottom: 0;
  margin: 0px;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.small {
  font-size: 14px;
}

.highlight {
  color: #ffabab;
}

.search-container {
  position: absolute;
  margin: auto;
  width: 300px;
  height: 100px;
}

.search{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background: rgb(199, 183, 141);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.search-container .search:hover{
  cursor: pointer;
}
.search-container .search:before{
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 15px;
  width: 8px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
  transition: all 0.5;
}
.search-container .search:after{
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all 0.5;
}
.search-container input{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: rgb(199, 183, 141);
  padding: 0 50px 0 20px;
  border-radius: 30px;
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
  color: black;
}
.search-container input:hover{
  cursor: pointer;
}
.search-container input:focus{
  width: 300px;
  opacity: 1;
  cursor: text;
}
.search-container input:focus ~ .search{
  right: -390px;
  background: #151515;
  z-index: 6;
}
.search-container input:focus ~ .search:before{
  top: 0;
  left: 0;
  width: 25px;
}
.search-container input:focus ~ .search:after{
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: #fff;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.search-container input::placeholder{
  color: black;
  opacity: 0.5;
  font-weight: bolder;
}

.album-container--wrapper {
  display: grid;
  grid: 500px / auto auto auto auto;
  grid-gap: 50px;
}

.album-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.album-container > img {
  width: 100%;
}

.album-details-container--wrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding: 0 25%;
}

.album-details-container {
  display: block;
  width: 50%;
}

#album-details-container--artwork {
  /* width: 30% */
}

#album-details-container--artwork > img {
  width: 100%;
}

#album-details-container--tracklist {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

#album-details-container--tracklist > button {
  width: 50%;
  align-self: center;
  margin-top: 20px;
}