body {
	padding: 20px 50px 50px;
	font: 17px 'Lato', Helvetica, Arial, sans-serif;
	background-color: #1e252c;
	color: #def;
	font-weight: 300;
  }

a {
	text-decoration: none;
	cursor: pointer;
	color: white;
}

h1 {
	text-align: center;
}

h2, h3 {
  font-weight: normal;
}

#copyright {
  position: fixed;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  left: 50%;
  bottom: 0;
  margin: 0;
  font-size: 12px;
  width: 100%;
  text-align: center;
  background: linear-gradient(0deg, #1e252c 0%, #1e252c 80%, transparent 100%);
}

.small {
  font-size: 14px;
}

.highlight {
  color: #ffabab;
}

.album-container--wrapper {
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.album-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.album-container > img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.album-details-container--wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0 10%;
}

.album-details--content-container {
  display: flex;
  flex-direction: row;
}

.album-details--title {
  margin-bottom: 10px;
}

.album-details--subtitle {
  margin-top: 0;
}


.album-details-column {
  display: block;
  width: 50%;
}

#album-details-column--artwork > img {
  width: 100%;
}

#album-details-column--tracklist {
  margin-left: 5%;

  ol {
    text-align: left;
    margin-top: 0;
  }
}

.generate-bracket-btn {
  width: 50%;
  align-self: center;
  margin-top: 20px;
}

.body-container {
  text-align: center;
}

.artist {
  font-weight: normal;
}

.back-to-results {
  position: absolute;
  top: 50px;
}